@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .title-shadow {
    text-shadow: 0 0 35px rgba(255, 173, 79, 0.4);
  }
}

html,
body {
  padding: 0;
  margin: 0;
  /*background-image: url('../../public/stars-background.webp');*/
  background: linear-gradient(0deg, rgba(17, 16, 18, 0.7), rgba(17, 16, 18, 0.7)), url('../../public/stars-background.webp'), no-repeat;
  height: 100%;
  background-size: cover;
  color: #fff;
  font-feature-settings: "salt";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
