@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-image: url('../../public/stars-background.webp');
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
